{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "node": 4
          }
        }
      ],
      "@babel/preset-typescript"
    ],
    "plugins": [
      ["babel-plugin-module-resolver", {
        "root": ["./src"],
        "alias": {
          "underscore": "lodash",
          "@modules": "./dist/modules/",
          "@utils": "./dist/utils/"
        }
      }, "@babel/plugin-transform-runtime"]
    ]
}
