# Logs
logs
*.log

# Dependency directory
node_modules/

# Environment variables
.env

# Compiled output
build/
dist/
out/

# Yarn PnP files
.yarn/*

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Private Data
data

# Operating System Files
Thumbs.db
.DS_Store
