# Logs
logs
*.log

# Dependency directories
node_modules/
dist/

# Environment variables
.env

# Compiled output
build/
dist/
out/

# Yarn PnP files
.yarn/*

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System Files
Thumbs.db
.DS_Store
