# Dependency directory
node_modules/

# Compiled output
build/
dist/
out/

# Ignore specific files
*.min.js

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System Files
Thumbs.db
.DS_Store

# hidden files
.*

# specific directories
docs/
coverage/
